$paddingVerticle: 0.5rem;
$paddingHorizontal: 1rem;
$marginVerticle: 0.5rem;
$marginHorizontal: 1rem;
$fontSize: 16px;
$backgroundColor: #0f0f0f;
$headerHeigth: 420px;
$defaultBorderRaduis: 1rem;
$navHeigth: 48px;
