@import "colors";
@import "variables";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
  margin: 0.25em 0;
  padding: 0;
}
hr {
  margin: 4rem 15%;
  background-color: $accentColor;
  border: 1px solid $accentColor;
}
body {
  margin: 0;
  padding: 0;
  font-size: $fontSize;
  background-color: $backgroundColor;
  font-family: "Fira Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  box-sizing: border-box;
  margin-inline: 15%;
  margin-block: 1rem;
  h2 {
    color: $warnColor;
  }
}

.sideCard {
  display: flex;
  width: 320px;
  padding: 1em;
  box-sizing: border-box;
}

.mainCard {
  display: flex;
  width: 670px;
  padding: 1em;
  box-sizing: border-box;
}

header {
  height: $headerHeigth;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 4rem 15%;
  #profile-img {
    width: 100%;
    height: 100%;
    max-width: 320px;
    border-radius: $defaultBorderRaduis;
    object-fit: cover;
    object-position: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  #profile-info {
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    color: white;
    .firstname,
    .lastname {
      font-size: 4.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    .divider {
      height: 0.25em;
      background: $primaryColor
        linear-gradient(90deg, $accentColor 0%, $primaryColor 100%);
      margin-block: 1em;
    }
    .degree {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: lighter;
    }
    .socialGroup {
      margin-block-start: 0.25rem;
      .socialIcon {
        font-size: 2.5rem;
        margin-inline-end: 0.5rem;
        border: 2px solid white;
        border-radius: 0.15em;
        padding: 0 0.4rem;
        cursor: pointer;
        transition: linear 0.35s;
      }
      .socialIcon:hover {
        border: 2px solid $accentColor;
        background-color: $accentColor;
        i {
          animation: iconRotate 0.5s linear infinite alternate;
        }
      }
    }
  }
}
main > section.infoContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  margin-inline: 15%;
  section.personalProfile {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.75s;
    padding: 1em;
  }

  section.skillSummary {
    position: relative;
    transition: all 1.5s;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    // height: $headerHeigth;
    width: 670px;
    padding: 1em;
    // background-color: red;
    .languages,
    .frameworks {
      display: flex;
      flex-direction: row;
      // background-color: red;
      .iconContainer {
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .level {
          color: #e0e0e0;
          font-size: 0.75rem;
          text-transform: uppercase;
        }
        .icon {
          width: 64px;
          height: 64px;
          object-position: center;
          object-fit: contain;
          padding: 0.5rem;
        }
        #deno {
          filter: invert(1);
        }
      }
    }
  }

  .hidePersonal {
    // opacity: 0;
    top: 1000px;
    display: none;
  }

  .hideSkill {
    right: -100%;
    display: none;
  }
  .displayBtmToTop {
    top: 0;
    // opacity: 1;
    display: flex;
  }

  .displayRightToLeft {
    right: 0;
    // opacity: 1;
    display: flex;
  }
}

section.expContainer {
  margin-block-end: 8rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  transition: all 2s linear;

  .experience {
    flex-direction: column;
  }

  .education {
    flex-direction: column;
  }

  ul {
    list-style: none;
    color: #e0e0e0;
    margin: 0;
    li {
      margin-block: 0.35rem;
    }
    li::before {
      content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: $warnColor; /* Change the color */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
  }
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}

footer {
  position: static;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
  background-color: $primaryColor;
  margin-block-start: 1em;
  color: white;
}
@keyframes glow {
  from {
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px $primaryColor,
      0 0 8px $primaryColor, 0 0 10px $primaryColor, 0 0 12px $primaryColor,
      0 0 14px $primaryColor;
  }

  to {
    box-shadow: 0 0 2px #fff, 0 0 4px $accentColor, 0 0 6px $accentColor,
      0 0 8px $accentColor, 0 0 10px $accentColor, 0 0 12px $accentColor,
      0 0 14px $accentColor;
  }
}

@keyframes iconRotate {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1.15) rotate(15deg);
  }
}

@keyframes rotateColor {
  0% {
    filter: hue-rotate(0deg);
    box-shadow: 0 0 2px black, 0 0 4px $accentColor, 0 0 6px $primaryColor,
      0 0 8px $primaryColor, 0 0 10px $primaryColor, 0 0 12px $primaryColor,
      0 0 14px $primaryColor;
  }
  50% {
    filter: hue-rotate(180deg);
    box-shadow: 0 0 2px black, 0 0 4px $accentColor, 0 0 6px $accentColor,
      0 0 8px $accentColor, 0 0 10px $accentColor, 0 0 12px $accentColor,
      0 0 14px $accentColor;
  }
  100% {
    filter: hue-rotate(360deg);
    box-shadow: 0 0 2px $accentColor, 0 0 4px $accentColor, 0 0 6px $accentColor,
      0 0 8px $accentColor, 0 0 10px $accentColor, 0 0 12px $accentColor,
      0 0 14px $accentColor;
  }
}

// responsive
@media only screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  h2 {
    font-size: 1rem;
  }

  hr {
    margin: 1rem 5%;
    background-color: $accentColor;
    border: 1px solid $accentColor;
  }
  .container {
    display: flex;
    box-sizing: border-box;
    margin-inline: 5%;
    margin-block: 0.1rem;
    h2 {
      color: $warnColor;
    }
  }

  .sideCard {
    width: 100%;
  }

  .mainCard {
    width: 100%;
  }

  header {
    height: auto;
    // background-color: white;
    align-items: flex-start;
    margin: 2rem;
    #profile-img {
      width: 128px;
      height: 128px;
    }
    #profile-info {
      flex-direction: column;
      box-sizing: border-box;
      justify-content: flex-start;
      color: white;
      .firstname,
      .lastname {
        font-size: 1.5rem;
        font-weight: lighter;
        text-transform: uppercase;
      }
      .divider {
        height: 0.15em;
        margin-block: 0.25rem;
      }
      .degree {
        font-size: 0.75rem;
      }
      .socialGroup {
        margin-block-start: 0;
        .socialIcon {
          font-size: 1.25rem;
          margin-inline-end: 0.45rem;
          border: none;
          padding: 0;
          transition: linear 0.35s;
        }
        .socialIcon:hover {
          border: none;
          background-color: transparent;
          i {
            animation: iconRotate 0.5s linear infinite alternate;
          }
        }
      }
    }
  }

  main > section.infoContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    margin-inline: 0;
    section.personalProfile {
      display: flex;
      flex-direction: column;
      position: relative;
      transition: all 0.75s;
      padding-inline: 2em;
    }

    section.skillSummary {
      position: relative;
      transition: all 1.5s;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: flex-start;
      width: 100%;
      padding: 2rem;
      .languages,
      .frameworks {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .iconContainer {
          margin: 0rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .level {
            color: #e0e0e0;
            font-size: 0.65rem;
            text-transform: uppercase;
          }
          .icon {
            width: 32px;
            height: 32px;
            object-position: center;
            object-fit: contain;
            padding: 0.5rem;
          }
          #deno {
            filter: invert(1);
          }
        }
      }
    }
  }

  section.expContainer {
    margin-block-end: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    transition: none;

    .experience {
      flex-direction: column;
    }

    .education {
      flex-direction: column;
    }

    ul {
      list-style: none;
      color: #e0e0e0;
      margin: 0;
      li {
        margin-block: 0.35rem;
      }
      li::before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $warnColor; /* Change the color */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1.25em; /* Also needed for space (tweak if needed) */
      }
    }
  }
}
